<!DOCTYPE html>

<html lang='en'>
  
  <head>
	  
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <title>FakerApp</title>
    <link rel="stylesheet" href="/stylesheets/cards.css">
	 <script 
	 src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js" integrity="sha512-gVG6WRMUYFaIdoocaxbqd02p3DUbhReTBWc7NTGB96i7vONrr7GuCZJHFFmkXEhpwilIWUnfRIMSlKaApwd/jg==" crossorigin="anonymous"></script>
	  
  </head>
	
