<html>
	
	<link rel="stylesheet" href="/stylesheets/cards.css">

	<body>

		<h1>FAKER</h1>
		<h2>
			<a href="/categories">BROWSE cards.</a>
		</h2>
		
		<h2>LOGIN below.</h2>
		
		<form action="/" method="POST">
			<input type="text" name="username" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<button>LOGIN</button>
		</form>
		
		<h3><a href="/register">Register and the rules</a></h3>
			
	</body>
	
</html>
