<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js" integrity="sha512-gVG6WRMUYFaIdoocaxbqd02p3DUbhReTBWc7NTGB96i7vONrr7GuCZJHFFmkXEhpwilIWUnfRIMSlKaApwd/jg==" crossorigin="anonymous"></script>
	</head>

	<body>

		<h1>Faker</h1>
		<a href="/categories">Check out categories.</a>
		
		<h2>Login below.</h2>
		
		<form action="/" method="POST">
			<input type="text" name="username" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<input type="submit" value="Login">
		</form>
		
		<h3><a href="/register">Register and the rules</a></h3>
		
		<script src="/sockets.js"></script>
		
	</body>
	
</html>
