<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js" integrity="sha512-gVG6WRMUYFaIdoocaxbqd02p3DUbhReTBWc7NTGB96i7vONrr7GuCZJHFFmkXEhpwilIWUnfRIMSlKaApwd/jg==" crossorigin="anonymous"></script>
	</head>

	<body>

		<h1>
			Faker
		</h1>

		<a href="/categories">Check out categories.</a>
		
		<!-- <div>
			<input id="message" placeholder="Type here">
			<button id="send">Send</button>
			<div id="output"></div>	
		</div> -->
		
		<script src="/sockets.js"></script>
		
	</body>
	
</html>
