<html>
	<head>
		
	</head>
	<body>
		<h1>Lobby area</h1>
		<a href="/">Main page</a>
		
		<form action="/lobby" method="POST">
			<input type="text" id="newGame" name="gameLink">
			<button>New Game</button>
		</form>
		
		
	
	</body>
</html>