<%- include("header") %> 

<body>

  <main>
  
	<h1>Lobby area</h1>
	<a href="/">Main page</a>

	<form action="/lobby" method="POST">
		<input type="text" id="newGame" name="gameLink">
		<button>New Game</button>
	</form>
	
	<p>This area is in development. Intended that players to assemble and join game from here. Option to name the game 'room' and send details to late joiners.</p>
  
  </main>	

</body>
	
<%- include("footer") %> 
