<%- include("header") %> 

<body>

  <main>
	<h3>
		Register below.
	</h3>

	<form action="/register" method="POST">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<input type="submit" value="Register">
	</form>
  </main>

</body>

<%- include("footer") %> 
